<h1><%= user.firstname %>'s Profile</h1>
<div class="row">
    <div class="col s8">
        <p><strong>Full Name: <%= user.firstname%> <%= user.lastname%></strong></p>
        <p><%= user.bio %></p>
        <p>Fav beers go here</p>
        <p>Fav tacos go here</p>
    </div>
</div>