<nav class="teal lighten-2">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">  Tt</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <% if(!user) {%>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/beer">All Beer</a></li>
            <li><a href="/taco">Taco</a></li>
            
            <% } else { %>
                <li>Hi, <%= user.firstname %>! </li>
                <li><a href="/beer">All Beer</a></li>
                <li><a href="/taco">Taco</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>