<h3>Browse all our tasty suds below.</h3>

<% if(!user) { %>
    <h5>Log in to save a beer as one of your Favorites, or add a new beer to the list!</h5>
    <hr>

    <ul>
        <% beer.forEach((brew) => { %>
            <li><a href="/beer/show/<%=brew.id%>"><%= brew.name %></a></li>
        <% }) %>
    </ul>
<% } else { %>
    <hr>

    <a class="btn btn-primary" href="/addBeer">Add a new Beer</a>

    <ul>
        <% beer.forEach((brew) => { %>
            <li><a href="/beer/show/<%=brew.id%>"><%= brew.name %></a></li>
        <% }) %>
    </ul>

<% } %>

