<h1>Uh-oh</h1>

<h2>We've encountered a problem! If the problem persists, please contact your administrator.</h2>

<div class="row">
    <div class="col s6">
        <h3>Meanwhile...</h3>
    </div>
    <div class="col s6">
        <img src=" http://place-puppy.com/200x200" alt="Woof" class="responsive-img">
    </div>
</div>