<h1>This is the TacoTavern Home Page!</h1>

<h3>Welcome!</h3>
<h3><a href="/auth/login">Log in</a></h3>
Or
<h3><a href="/auth/signup">Sign Up</a></h3>

<br>

<form method="GET" action="/beer">
    <button type="submit">Browse Our Beers!</button>
</form>

<form method="GET" action="/taco">
    <button type="submit">Get me a Taco!</button>
</form> 