<h1>This is the TacoTavern Home Page!</h1>

<h3>Welcome!</h3>
<h3><a href="#">Log in</a></h3>
Or
<h3><a href="#">Sign Up</a></h3>

<br>

<button type="button">Browse Our Beers!</button>
<button type="button">Browse Our Tacos!</button>