<h1>This is the TacoTavern Home Page!</h1>

<h3>Welcome!</h3>
<h3><a href="/auth/login">Log in</a></h3>
Or
<h3><a href="/auth/signup">Sign Up</a></h3>

<br>

<a class="btn btn-primary" href="/beer">Browse Our Beers!</a>
<a class="btn btn-primary" href="/taco">Browse Our Taco Recipes!</a>
