<h3>Browse the mouth-watering taco recipes below!</h3>

<% if(!user) { %>
    <h5>Log in to save a taco recipe as one of your Favorites, or add a new taco to the list!</h5>
    <hr>

    <ul>
        <% taco.forEach((item) => { %>
            <li><a href="/taco/<%=item.id%>"><%= item.name %></a></li>
        <% }) %>
    </ul>
<% } else { %>
    <hr>

    <a class="btn btn-primary" href="/taco/addTaco">Add a new Taco Recipe</a>

    <ul>
        <% taco.forEach((item) => { %>
            <li><a href="/taco/<%=item.id%>"><%= item.name %></a></li>
        <% }) %>
    </ul>

<% } %>